/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0073e6;
    color: white;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1, h2, h3 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

/* Навигация */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Разделы */
section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.experience-item {
    margin-bottom: 20px;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible-btn {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.collapsible-btn.active {
    background-color: #005bb5;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Адаптивность */
@media (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        justify-content: flex-start;
    }

    section {
        margin: 20px auto;
        max-width: 800px;
    }
}

@media (max-width: 767px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
}
